:root{
    --primary-color: rgb(255, 32, 110);
    --main-font: "Open Sans", sans-serif;
}

.text__primary{
    color: var(--primary-color);
}

body{
    font-family: var(--main-font);
}

.bg-black{
    background-color: black;
}

/* Header */

header .navbar-nav .nav-item .nav-link{
    color: #fff;
    font-size: .875rem;
}

header .navbar-light .navbar-nav .nav-link.active{
    color: var(--primary-color);
}


/* Hero Section */

.hero{
    background-image: url(./../images/Hero/bg.jpg);
    background-size: cover;
}

.hero a:hover{
    color: var(--primary-color);
}


/* About Section */

.about{
    background-image: url(./../images/about/bg-about.jpg);
}

/* Portfolio */

.portfolio{
    background-image: url(./../images/portofolio/bg-portofolio.jpg);
}

.portfolio .nav-tabs .nav-item.show .nav-link,
.portfolio .nav-tabs .nav-link.active{
    color: var(--primary-color);
}

.portfolio .nav-link{
    color: #000;
}

.portfolio .nav-tabs .nav-link{
    border: none;
}

.portfolio .nav-tabs{
    border-bottom: none;
}